@font-face {
    font-family: Abel;
    src: url(../fonts2/Abel/Abel-Regular.ttf)
}

@font-face {
    font-family: Anton;
    src: url(../fonts2/Anton/Anton-Regular.ttf)
}

@font-face {
    font-family: Herr;
    src: url(../fonts2/Herr_Von_Muellerhoff/HerrVonMuellerhoff-Regular.ttf)
}

@font-face {
    font-family: Josefin;
    src: url(../fonts2/Josefin_Sans/JosefinSans-Regular.ttf)
}

@font-face {
    font-family: Lexend;
    src:url(../fonts2/Lexend_Deca/LexendDeca-Regular.ttf)
}

@font-face {
    font-family: Livvic;
    src: url(../fonts2/Livvic/Livvic-Regular.ttf)
}


